.form-control input[type=range] {
	height: 100%;
}

.form-group .checkbox-inline {
	padding-top: 7px;
	padding-bottom: 7px;
}

.input-group-addon#colors-value {
	min-width: 50px;
}

#canvas {
	width: 100%;
	border: 1px solid #ccc;
}
